cmake-build-debug/
Drivers/*
startup/*
CMakeLists.txt
CMakeLists_template.txt
STM32F407VGTx_FLASH.ld
syscalls.c
.idea/*
*.tmp
/Debug/
.settings/language.settings.xml
VoiceGrowler Run.cfg
.cproject
.mxproject
.project
VoiceGrowler.xml
